<% if flash[:notice] %>
  <div class="notice">
    <%= flash[:notice] %></p>
  </div>
<% end %>
<input type="button" class="button" id="prev" onclick="prevArticle()" data-id="<%=@article.id%>" value="PREV"/>
<input type="button" class="button" id="next" onclick="nextArticle()" data-id="<%=@article.id%>" value="NEXT"/>

<div class="card">
  <h1 id="articleName"><%= @article.name %></h1>
  <h3>University <%=@article.user.department.name %> Department</h3>
  <p>Topics: <% @article.topics.each do |topic| %>--<%= topic.name %> <% end %> </p>
  <div id="articleDescription"><%= @article.description %></div>
  <p><a id='articleLink' href="<%= @article.link %>">URL Link</a></p>
  <p>Submitted by <%= @article.user.name %> </p><br>

<% if can_edit?%>
  <p><%= button_to "Edit", { action: "edit", id: @article.id }, method: :get, form: {style: 'display:inline-block;'} %>
  <%= button_to "Delete", { action: "destroy", id: @article.id }, method: :delete, data: { confirm: 'Are you sure?'}, form: {style: 'display:inline-block;'} %></p>
<% end %>
</div>


<script type="text/javascript" charset="utf-8">

$( document ).ready(function() {
  adjustArticleNav();
});

function nextArticle() {
    var nextId = parseInt($("#next").attr("data-id")) + 1;
    $.get("/articles/" + nextId + ".json", function(data) {
      $("#articleName").text(data["name"])
      $("#articleDescription").text(data["description"])
      $("#articleLink").attr('href', data["link"]);
      $("#prev, #next").attr('data-id', data["id"]);
      adjustArticleNav();
    });
};

function prevArticle() {
    var prevId = parseInt($("#prev").attr("data-id")) - 1;

    $.get("/articles/" + prevId + ".json", function(data) {
      $("#articleName").text(data["name"])
      $("#articleDescription").text(data["description"])
      $("#articleLink").attr('href', data["link"]);
      $("#prev, #next").attr('data-id', data["id"]);
      adjustArticleNav();
    });
};


function adjustArticleNav(){
  $("#prev, #next").prop("disabled",false);
  firstArticleCheck();
  lastArticleCheck();
}


function firstArticleCheck(){
  var prevId = parseInt($("#next").attr("data-id")) - 1;
  $.get("/articles/" + prevId + ".json").fail(function(){
    $("#prev").prop("disabled",true);
  })
}

function lastArticleCheck(){
  var nextId = parseInt($("#next").attr("data-id")) + 1;
  $.get("/articles/" + nextId + ".json").fail(function(){
    $("#next").prop("disabled",true);
  })
}

  

</script>
